
@{
    ViewData["Title"] = "Error Value";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="~/admin/css/index.css">

<div class="main">
    <div class="section">
        <h1 style="text-align:center;color:red;">ERROR INPUT VALUE</h1>
    </div>
</div>

