
@{
    ViewData["Title"] = "Check Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApp_Cnpm.Models.NewRegister
    <section class="breadcrumb-section set-bg" data-setbg="/img/banner_title.gif" style="background-position:center;background-size:cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Vatva Shop</h2>
                        <div class="breadcrumb__option">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                            <span>Check Forgot Password</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <form asp-controller="Home" asp-action="NewPassword" method="post" enctype="multipart/form-data">
        <div class="register-box" style="height:250px;">
            <div class="register_form">
                <input asp-for="@Model.user" hidden />
                <input asp-for="@Model.code" hidden />

                <span>VERIFICATION CODE</span>
                <input asp-for="@Model.verification" autofocus />

                <input type="submit" value="Confirm" /><br />
                <div class="login_user">
                    <a style="color: red;text-decoration:underline;" href="javascript:SendAgain();">Send email again</a>&ensp;
                    <a asp-controller="Home" asp-action="Login" style="color: blueviolet;text-decoration:underline;">Back</a>
                </div>
            </div>
        </div>
    </form>

    @section RegisterConfirm{
        <script type="text/javascript">
            alert("A verification code has been sent to your email.");

            function SendAgain() {
                location.reload();
            }

            var body = $("html, body");
            body.animate({ scrollTop: 687 });
        </script>
    }



